
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Kendallsot Academy</title>
    

</head>
<body>
    <div> 

        <img src="~/images/MVC.jpg" />
        <h1>Hello world</h1><br />
        The current date is: @System.DateTime.Now <br />

       @{
           int x = 123;
           string y = "Hello Razor Syntax.";
        }

       X is = to:  @x <br />
       Y is = to:@y <br />

        @*
        This is a a comment for Kendallsoft Academy
        *@

    </div>
</body>
</html>
