@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Kendallsoft Academy<br />
    <a href="http://www.kendallsoftacademy.com">Home</a> <br />
    <abbr title="Phone">P:</abbr>
    817-965-0856
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:mkendall@kendallsoft.com">Support</a><br />
    <strong>Marketing:</strong> <a href="mailto:mkendall@kendallsoft.com">Marketing</a>
</address>